.paragraph {
  display: flex;
  font-size: 60px;
  line-height: 1;
  padding: 50px;
  max-width: 1290px;
  color: white;
  flex-wrap: wrap;
  .word {
    position: relative;
    margin-right: 12px;
    margin-top: 12px;
    .shadow {
      position: absolute;
      opacity: 0.2;
    }
  }
}
